body, html {
  height: 100%;
  width: 100%;
}

#notebook {
	width: 50%;
	float:left;
	position: relative;
	height:98%;
	
}
#pad {
	height:100%;
	width:100%;
	
}
#notebookToolBar {
	width:100%;
	border: 1px solid black;
	margin: 2px;
}
textarea {
	background: url("../img/notebook.png") repeat-y;
	width:95%;
	height:98%;
	font: normal 14px verdana;
	line-height: 25px;
	border: solid 1px #ddd;
	resize: none;
}
#dashboard {
	float:left;
	position: relative;
	width: 20%;
	height: 99%;
	border: 2px solid grey;
}
#doodle {
	float:right;
	position: relative;
	
	height: 99%;
	border: 2px solid grey;
}
