body, html {
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.wrapper {

}
#notebook {
	width: 50%;
	float: left;
	height: 98%;
}
#notebookToolBar {
	width: 100%;
	width: 100%
}
textarea {
	background: url("../img/notebook.png") repeat-y;
	width: 85%;
	height: 95%;
	padding-left: 105px;
	font: normal 14px verdana;
	line-height: 25px;
	border: solid 1px #ddd;
	resize: none;
}
#dashboard {
	float: left;
	position: relative;
	width: 20%;
	height: 99%;
	border: 2px solid grey;
}
#doodleContainer { 
	float: right;
	width: 25%;
	height: 99%;
	border: 2px solid grey;
}
#doodleModalContainer {
	width:200px;
	height:300px;
}
#doodle {
	height: 99%;
}

canvas {
	
}
select {
	background: transparent;
	width: 268px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 34px;
}
select {
	width:100px;
	display:inline;
}
#changeColor {
	display:inline-block;
}
